/.vs/ProjectEvaluation
/.vs/WebSIMS/CopilotIndices
/.vs/WebSIMS/FileContentIndex
/WebSIMS/obj
WebSIMS/obj/WebSIMS.csproj.nuget.dgspec.json
WebSIMS/obj/Debug/net8.0/WebSIMS.GeneratedMSBuildEditorConfig.editorconfig
WebSIMS/obj/WebSIMS.csproj.nuget.g.props
/.vs/WebSIMS
