/.vs/ProjectEvaluation
/.vs/HashUtility/CopilotIndices
/.vs/HashUtility/FileContentIndex
/HashUtility/obj
HashUtility/obj/HashUtility.csproj.nuget.dgspec.json
HashUtility/obj/Debug/net8.0/HashUtility.GeneratedMSBuildEditorConfig.editorconfig
HashUtility/obj/HashUtility.csproj.nuget.g.props
/.vs/HashUtility
/HashUtility/appsettings.json
